@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* card */

.global{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 3px solid #000000;
    width: 40%;
    margin: 20px  
}

#ecran {
    padding-top: 80px;
}

#bureau {
    padding-top: 135px;
}

.container{
    padding: 10px;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

h2 a {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}