@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* card */

.global{
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
    justify-content: center;
    
}

.card {
    display: grid;
    border: 3px solid #000000;
    width: 15%;
    margin: 40px;
    align-items: end;
    box-shadow: 0px 8px 12px 0px;
    margin-left: 85px;
}

.container{
    padding: 10px;
    text-align: center;
}
h2{
    color: black;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
}

h2 a {
    color: black;
    text-decoration: none;
}

h2 a:hover {
    text-decoration: underline;
}