.footer{
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer_content{
    max-width: 1200px;
    margin: 0 auto;
    text-transform: uppercase
}

.footer_content ul li a {
    padding: 5px 0px;
}