/* header */

.header{
    background: url(../img/header.png) no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(247, 247, 247);
    padding: 200px;
    text-align:center;
    margin: 0px;
    display: flexbox;
}