@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#img{
    padding: 5px;
    background: url(/assets/img/R2.jfif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200px;
    margin: -10px;
  }
  header h1{
    font-size: 46px;
    font-weight: bold;
    text-align: center;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    padding: 160px ;
    font-family: 'Bungee Inline', cursive;
  }
  .text h3 {
    font-size: 32px;
    text-align: center;
    color:#A56CC1 ;
    font-family: 'Bungee Inline', cursive;
  }

#contact {
  font-family: 'Inter', sans-serif;
}

  .text h4 {
    display: flex;
    font-size: 24px;
    text-align: center;
    font-family: 'Inter', sans-serif;
  }
  