/*navbar menu*/
nav{
  background-color: rgb(0, 0, 0);  
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
}

ul li a {
    text-decoration: none;
    display: block;
    padding: 65px;
    margin: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    position: center;

}
ul image{
  display: block;
  padding: 0px;
  position: right;
}